@font-face {
    font-family: Clash Display;
    src: url(fonts\ClashDisplay_Complete\Fonts\OTF\ClashDisplay-Regular.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: CLash Display;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: #00b4db;
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    margin-bottom: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 10px;
    margin-bottom: 25px;
}

#input-box{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    background-color: #00b4db;
    border: none;
    outline: none;
    padding: 12px 35px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

ul li{
    list-style: none;
    user-select: none;
    padding: 12px 8px 12px 50px;
    font-size: 17px;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(radio.png);
    opacity: 0.25;
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
    cursor: pointer;
}

ul li.checked {
    color: #01bb00;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(radio1.png);
    height: 28px;
    width: 28px;
    background-size: cover;
    background-position: center;
    opacity: 1;
    background-size: 30px;
    cursor: pointer;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #00b4db;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background-color: #edeef0;
    cursor: pointer;
}